1. Create a list named ‘myList’ that is having the following elements: 10,20,30,’apple’, True, 
8.10

In [1]:
myList = [10,20,30,'apple', True, 8.10]

a. Now in the ‘myList’, append these values: 30,40

In [2]:
myList.append(30)
myList.append(40)

In [3]:
myList

[10, 20, 30, 'apple', True, 8.1, 30, 40]

b. After that reverse the elements of the ‘myList’ and store that in ‘reversedList’

In [4]:
reversedList = myList[::-1]

In [5]:
reversedList

[40, 30, 8.1, True, 'apple', 30, 20, 10]

2. Create a dictonary with key values as 1,2,3 and the values as ‘data’,’information’, and ‘text’.

In [6]:
dic = {'data':1, 'information':2, 'text':3}

a. After that eliminate the ‘text’ value form the dictonary.

In [9]:
dic.pop('text')

3

In [10]:
dic

{'data': 1, 'information': 2}

b. Add ‘features’ in the dictonary

In [11]:
dic['features'] = 3

In [12]:
dic

{'data': 1, 'information': 2, 'features': 3}

c. Fetch the ‘data’ element from the dictonary and display it in the output.

In [13]:
dic['data']

1

3. Create a tuple and add these elements 1,2,3,apple,mango in ‘my_tuple

In [14]:
my_tuple = (1,2,3,'apple','mango')

4. Create another tuple named numeric_tuple consisting of only integer values 10,20,30,40,50

In [15]:
numeric_tuple = (10,20,30,40,50)

a. Find the minimum value from the numeric_tuple.

In [17]:
min(numeric_tuple)

10

b. Concatenate my_tuple with numeric_tuple and store the result in r1.

In [18]:
r1 = my_tuple+numeric_tuple

In [19]:
r1

(1, 2, 3, 'apple', 'mango', 10, 20, 30, 40, 50)

c. Duplicate the tuple named my_tuple 2 times and store that in ‘newdupli

In [21]:
newdupli = my_tuple * 2

In [22]:
newdupli

(1, 2, 3, 'apple', 'mango', 1, 2, 3, 'apple', 'mango')

5. Create 2 sets with name set1 and set2, where set1 contains{1,2,3,4,5} and set2 to 
contains{2,3,7,6,1}

In [23]:
set1 = {1,2,3,4,5}
set2 = {2,3,7,6,1}

a. Perform the below operation:

In [24]:
# set1 union set2

set1.union(set2)

{1, 2, 3, 4, 5, 6, 7}

In [25]:
# set1 intersection set2

set1.intersection(set2)

{1, 2, 3}

In [26]:
# set1 difference set2
set1.difference(set2)

{4, 5}